//Typography
$base-font-size: 16px;
$base-line-height: 24px;
$base-margin: $base-line-height;

//Font weights
$light:     300;
$regular:   400;
$semibold:  600;
$bold:      700;


//Font families
$font-stack-sans:       Arial, sans-serif;
$font-stack-serif:      serif;
$font-stack-mono:       'Courier New', Courier, monospace;
