// Variables


// Breakpoints
$bp-xsmall:     400px;
$bp-small:      480px;
$bp-sm-medium:  640px;
$bp-medium:     760px;
$bp-large:      920px;
$bp-xlarge:     1200px;
$bp-huge:       1400px;
$bp-xhuge:      1500px;
$bp-super:      1700px;
$bp-xsuper:     1900px;


//Color Variables
$off-white:         #f2f1f1;
$yellow:            #ffc72c;
$green:             #24a133;
$light-gray:        #cccccc;
$med-gray:          #6f6d6d;
$white:             #ffffff;
$black:             #000000;

// Main Colors
$background-color:  $off-white;

//Text Color
$primary-text-color: $black;
$light-text-color: $white;
$link-text-color: $primary-text-color;
$link-hover-color: $white;


//Button Colors
$btn-background-color: $yellow;
$btn-text-color: $black;

