<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= current_page.data.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="description" content= "A list of nine upcoming home Pittsburgh Pirates games and associated promotional items." />
  <meta property="og:title" content="Pittsburgh Pirates Upcoming Home Games and Promotions" />
  <meta property="og:description" content="A list of nine upcoming home Pittsburgh Pirates games and associated promotional items." />
  <meta property="og:image" content="https://sparkbox-event-project.herokuapp.com/assets/images/placeholder-joshua-peacock-unsplash.jpg" />    
  <%= stylesheet_link_tag "style" %>
  <link rel="shortcut icon" href="assets/images/logo.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
