---
title: Pittsburgh Pirates Event Info | Pirates.com
layout: main
---

<div class="container">
    <h1>Pittsburgh Pirates vs. Philadelphia Phillies</h1>
    <div class="event--columns">
        <div class="event-col col-left">
            <div class="event-details">
                <p class="event-date">Saturday, July 31, 2021</p>
                <p class="event-time">7:05 PM EST</p>
            </div>
            <div class="event-and-promo-description">
                <p>Come to PNC Park on Saturday, July 31st and watch your Pittsburgh Pirates take on their cross-state rivals, the Philadelphia Phillies. The first 20,000 fans in attendance will receive a free Pittsburgh Pirates Hawaiian shirt, presented by Bradenton Convention & Visitor's Bureau.</p>
            </div>
        </div>
        <div class="event-col col-right">
            <div class="event-and-promo-callout">
                <figure>
                    <%= image_tag 'pirates-hawaiian-shirt.png', :alt=>'Pittsburgh Pirates white, yellow and green Hawaiian style shirt' %>
                    <figcaption>Pittsburgh Pirates Hawaiian Shirt, presented by Bradenton Convention & Visitor's Bureau.</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <a href="https://www.mlb.com/pirates/tickets" target="_blank" class="btn-large">
        <i class="fas fa-ticket-alt" aria-hidden="true"></i>
        Buy Tickets    
    </a>
</div>