/* ================================
   Body
   ================================ */

body {
    background-color: $off-white;
    font-family: $font-stack-sans;
}   

main {
    padding-bottom: 10em;
}

address {
    font: {
        style: normal;
        size: rem(20);
    }
    @media (min-width: $bp-sm-medium) {
        font-size: rem(16);
    }
}

figcaption {
    color: $med-gray;
    font: {
        size: rem(15);
        style: italic;
    }
    line-height: 1.4;
}

.skip-to-content {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
}

h1 {
    font-size: rem(38);
    margin: 1.5em 0;
}