/* ================================
   Buttons
   ================================ */

.btn {
    background: $btn-background-color;
    box-sizing: border-box;
    color: $btn-text-color;
    display: block;
    font-weight: $semibold;
    padding: .7em .5em;
    text: {
        align: center;
        decoration: none;
    }
    transition: .3s background-color ease;
    width: 100%;
    &:hover {
        background-color: lighten($yellow, 12%);
    }
}