/* ================================
   Event Components
   ================================ */

.event-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 100%);
    @media (min-width: $bp-sm-medium) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $bp-large) {
        grid-template-columns: repeat(3, 1fr);
    }

    &--block {
        background-color: $white;
        border: 1px solid $light-gray;
        display: flex;
        flex-direction: column;
    }
    
}

.event-grid--block-image {
    position: relative;
    img {
        height: auto;
        max-width: 100%;
        width: 100%;
    }
}

.event-grid--block--desc {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 1em 1.5em;
    position: relative;

    p {
        line-height: 1.5;
        margin: 0;
        width: 100%;
    }
    .event-title {
        font: {
            size: rem(18);
            weight: $bold;
        }
        margin: 0;
    }
    .event-promo {
        i {
            color: $green;
            font-size: rem(18);
        }
        font-size: rem(14);
        line-height: 2.5;
    }
    .btn {
        display: inline-block;
        align-self: flex-end;
        margin-top: 1.2em;
    }
}

.event--columns {
    display: flex;
    flex-wrap: wrap;
    .col-left {
        width: 100%;
        @media (min-width: $bp-medium) {
            width: 70%;
        }
    }
    .col-right {
        text-align: center;
        width: 100%;
        @media (min-width: $bp-medium) {
            width: 30%;
        }
        img {
            height: auto;
            max-width: 250px;
            width: 100%;
        }
    }
}

.event-and-promo-description {
    p {
        font-size: rem(20);
        line-height: 1.6;
    }
}

.back-to-home {
    padding-top: 2em;
    a {
        color: darken($green, 10%);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    i {
        font-size: rem(14);
    }
}