/* ================================
   Footer
   ================================ */

footer {
    background: $black;
    color: $white;
    padding: 1.4em 0;
    p {
        color: $white;
    }

    .footer-logo-primary {
        float: left;
        margin-right: 1.5em;
        max-width: 40px;
    }

    .footer-logos {
        justify-content: center;
        @media (min-width: $bp-medium) {
            justify-content: flex-end;
        }
        img {
            margin-left: 1em;
        }
    }

    .footer-cols {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @media (min-width: $bp-medium) {
            justify-content: space-between;
        }
    }

    .footer-col {
        display: flex;
        justify-content: center;
        padding-bottom: 2em;
        width: 75%;
        @media (min-width: $bp-sm-medium) {
            width: 50%;
        }
    }
    .copyright {
        font-size: rem(14);
        margin: 1.8em 0 0 0;
        text-align: center;
    }
}