/* ================================
   Header
   ================================ */

header {
    background: $black;
    position: relative;
    width: 100%;

    .header--container {
        padding: 1.4em 0;
    }

    .logo img {
        max-width: 60px;
    }
}