<div class="event--filters">
    <form id="filter-events">
        <label for="month">Select Month: </label>
        <select id="month">
            <option id="April">April</option>
            <option id="May">May</option>
            <option id="June">June</option>
            <option id="July" selected="selected">July</option>
            <option id="August">August</option>
            <option id="September">September</option>
        </select>
        <button id="filter-month" class="btn-form">Submit</button>
    </form>
</div>