<header id="header">
    <div class="header--container container">
        <div class="logo"><a href="/"><%= image_tag 'logo.svg', :alt=>'Pittsburgh Pirates logo', :width=>'60', :height=>'84' %></a></div>
    </div>
</header>
